.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
pnpm-lock.yaml

# strange lint changes, need to diagnose before allow lint to format these
*.yaml
*.json

packages/**/dist/*
packages/functions/lib/*
