html {
  /* TODO: comb through and select what we actually want */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Noto Sans Wancho", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
}


[dir='rtl'] .rtl-x-flip {
  transform: scale(-1, 1);
}

.text-dark-shadow {
  text-shadow: -1px -1px 0 hsl(0, 0%, 25%), 1px -1px 0 hsl(0, 0%, 25%), -1px 1px 0 hsl(0, 0%, 25%),
    1px 1px 0 hsl(0, 0%, 25%);
}

@media only screen and (min-width: 768px) {
  body ::-webkit-scrollbar {
    width: 1rem;
  }

  body ::-webkit-scrollbar-track {
    background: 0 0;
  }

  body ::-webkit-scrollbar-thumb {
    background: hsl(240, 26%, 91%);
    border-radius: 1rem;
    border: 0.25rem solid #ffffff;
  }

  body ::-webkit-scrollbar-thumb:hover {
    background: hsl(240, 9%, 71%);
  }
}
