select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

/* Use Doulos SIL if IPA contexts if ever needed */
html {
  font-family: 
  "Segoe UI", /* This does not show up in Mac Chrome, but it does on Windows and is nice - keep it  */
  Arial, /* Is on Mac Chrome and it is correct, but the font in general, while it works, is not too pleasing. */ 
  "Noto Sans", 
  "Noto Sans Wancho", /* Noto Sans fonts are in place to catch missing glyphs that other fonts don't provide - we aren't presently loading these, but just provide a reference if a user happens to have them. They are a useful font-family to specifically load in future if coming across missing glyph issues */
  sans-serif, /* Fallback. On Mac Chrome displays Helvetica - Diacritis are in the right spot horizontally but they stack vertically on top of things like a dotted i instead of replacing the dot */
  
  /* Emoji catch-alls */
  "Apple Color Emoji", 
  "Segoe UI Emoji", 
  "Segoe UI Symbol", 
  "Noto Color Emoji"; 
}
/* Problematic Mac Chrome fonts */
/* ui-sans-serif, this tries to use the font used by the browser's default UI sans-serif font, which for Mac Chrome is .SF NS - the font which causes diacritics display issues */
/* system-ui, same problem as ui-sans-serif */
/* -apple-system, same problem ui-sans-serif */
/* BlinkMacSystemFont, same problem ui-sans-serif */
/* "Helvetica Neue", After removing the above fonts which default to Mac Chrome's SF NS, then Mac Chrome shows this and it also shows diacritics wrong */


[dir='rtl'] .rtl-x-flip {
  transform: scale(-1, 1);
}

.text-dark-shadow {
  text-shadow: -1px -1px 0 hsl(0, 0%, 25%), 1px -1px 0 hsl(0, 0%, 25%), -1px 1px 0 hsl(0, 0%, 25%),
    1px 1px 0 hsl(0, 0%, 25%);
}

@media only screen and (min-width: 768px) {
  body ::-webkit-scrollbar {
    width: 1rem;
  }

  body ::-webkit-scrollbar-track {
    background: 0 0;
  }

  body ::-webkit-scrollbar-thumb {
    background: hsl(240, 26%, 91%);
    border-radius: 1rem;
    border: 0.25rem solid #ffffff;
  }

  body ::-webkit-scrollbar-thumb:hover {
    background: hsl(240, 9%, 71%);
  }
}
