name: Svelte Check, & Unit Test Push

on:
  push:
    branches:
      - '**'

jobs:
  unit_test:
    name: Svelte Check & Unit Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.22.0

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 22.x
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install --no-frozen-lockfile

      - name: Svelte Check Site
        run: pnpm check

      - name: Run Vitest Unit Tests
        run: pnpm test

      - name: Slack Unit Test Results Notification
        uses: 8398a7/action-slack@v3 # https://action-slack.netlify.app/
        if: failure()
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          status: ${{ job.status }}
          fields: workflow,repo,message,commit,author,action,ref # selectable (default: repo,message)
